#main-content {
    padding: 3rem;
    background: #f3f3f3;
}

.editpatient__view .RaEdit-noActions form {
    display: flex;
    flex-direction: column-reverse;
}

.editpatient__view .RaEdit-noActions .MuiToolbar-root div {
    display: flex;
    justify-content: flex-end;
}

.editpatient__view form {
    width: 100%;
    height: 100%;
}

.edit-page {
    height: 100%;
}

.RaEdit-main {
    height: 100%;
}